body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  width: 80vw;
}

.article-title {
  margin-top: 2.5rem;
}

.article-image {
  width: 60%;
}

.article-paragraph {
  width: 70%;
}

.article-paragraph::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin-top: 1em;
}
